{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}
{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="mb-4">Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}

    <div class="form-group">
        {{ form_row(registrationForm.username, {'attr': {'class': 'form-control', 'placeholder': 'Enter your username'}}) }}
        <small id="usernameHelp" class="form-text text-muted">Take your time to come up with your username</small>
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter your email'}}) }}
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Create a password'}}) }}
        <small id="passwordHelp" class="form-text text-muted">Choose a strong password to keep your account secure.</small>
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirm your password'}}) }}
        <small id="confirmPasswordHelp" class="form-text text-muted">Please re-enter your password for confirmation.</small>
    </div>
    <br>
    <div class="form-check mb-3">
        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
        <label class="form-check-label" for="{{ registrationForm.agreeTerms.vars.id }}">
            I agree to the terms and conditions
        </label>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Register</button>
    {{ form_end(registrationForm) }}
    <br>
    <p>Do you already have an email? </p><a href="{{ path('app_login') }}">Click here to login</a>
{% endblock %}
