{% extends 'base.html.twig' %}

{% block title %}My Blogs{% endblock %}
{% block navbar_buttons %}
<li class="nav-item">
    <a class="nav-link" href="{{ path('app_blog_about') }}">About</a>
</li>
{% if app.user %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_blog_new') }}">New Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
    </li>
{% else %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_login') }}">Log in</a>
    </li>
{% endif %}
{% endblock %}
{% block body %}
<div class="d-flex flex-column min-vh-100">
    <div class="container mt-5 flex-grow-1"> <!-- Allow content to grow -->
        {% if blogs is empty %}
            <p>Nothing is found.</p>
        {% else %}
            <h2 style="margin-bottom: 15px">My Blogs</h2>
            <div class="row">
                {% for blog in blogs %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <a href="{{ path('app_blog_page', {id: blog.id}) }}">
                                <img class="card-img-top" src={{ asset('uploads/' ~ blog.image|default('blog-preview.jpg'))}} alt="{{ blog.title }}" />
                            </a>
                            <div class="card-body justify-content-center">
                                <h2 class="card-title h4">{{ blog.title }}</h2>
                                <p class="card-text">{{ blog.description }}</p>
                                {{ include('blog/_delete_form.html.twig') }}
                                <button class="btn btn-outline-danger me-2" form="delete-form" onclick="submitDeleteForm(event); return false;">Delete</button>
                                <a class="btn btn-outline-warning me-2" href="{{ path('app_blog_edit', {id: blog.id}) }}">Edit</a>
                                <a class="btn btn-outline-primary" href="{{ path('app_blog_page', {id: blog.id}) }}">Read</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
    {% endblock %}

