{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}
{% block navbar_buttons %}
    <li class="nav-item"><a class="nav-link" href="{{ path('app_blog_about') }}">About</a></li>
    {% if app.user %}
        {% if blog.user.id == app.user.id %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_blog_edit', {id: blog.id}) }}">Edit Blog</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Log in</a>
        </li>
    {% endif %}
{% endblock %}
{% block body %}
    <body>
    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Blog content-->
                <article>
                    <!-- Blog header-->
                    <header class="mb-4">
                        <!-- Blog title-->
                        <h1 class="fw-bolder mb-1">{{blog.title}}</h1>
                        <!-- Blog meta content-->
                        <div class="text-muted fst-italic mb-2">Posted by {{ blog.user.email }}</div>
                        <div class="small text-muted">{{ blog.publishedAt|date('F j, Y') }}</div>
                        <!-- Blog categories-->
                        {% for category in blogCategories %}
                            <a class="badge bg-primary text-decoration-none link-light" href="{{ path('app_blog_category', {'category': category.name}) }}">{{ category.name }}</a>
                        {% endfor %}
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src={{ blog.image }} alt="..." /></figure>
                    <!-- Blog content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{ blog.text }}</p>
                        <p class="fs-5 mb-4">The universe is large and old, and the ingredients for life as we know it are everywhere, so there's no reason to think that Earth would be unique in that regard. Whether of not the life became intelligent is a different question, and we'll see if we find that.</p>
                        <p class="fs-5 mb-4">If you get asteroids about a kilometer in size, those are large enough and carry enough energy into our system to disrupt transportation, communication, the food chains, and that can be a really bad day on Earth.</p>
                        <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>
                        <p class="fs-5 mb-4">For me, the most fascinating interface is Twitter. I have odd cosmic thoughts every day and I realized I could hold them to myself or share them with people who might be interested.</p>
                        <p class="fs-5 mb-4">Venus has a runaway greenhouse effect. I kind of want to know what happened there because we're twirling knobs here on Earth without knowing the consequences of it. Mars once had running water. It's bone dry today. Something bad happened there as well.</p>
                    </section>
                </article>
                <!-- Comments section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">

                            <!-- Comment form-->
                            {% if app.user %}
                                <form id="comment-form" action="{{ path('app_comment_add', {'blogId': blog.id}) }}" method="post" class="mb-4">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('comment') }}">
                                    <input type="hidden" name="blog_id" value="{{ blog.id }}">
                                    <textarea class="form-control mb-3" rows="3" name="content" placeholder="Join the discussion and leave a comment!" id="comment-content"></textarea>
                                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                                </form>
                                {% else %}
                                <p>You need to <a href="{{ path('app_login') }}">log in</a> to leave a comment.</p>
                            {% endif %}

                            <!--Comments section-->
                            <div class="comments-section">
                                {% for comment in comments %}
                                    <div class="d-flex mb-4">
                                        <div class="flex-shrink-0">
                                            <img class="rounded-circle img-thumbnail" src="{{ comment.user.icon ?? 'https://www.masterson.com.au/wp-content/uploads/2016/10/dummy-profile-pic-male1.jpg' }}" alt="..." style="width: 40px; height: 40px;" />
                                        </div>
                                        <div class="ms-3">
                                            <div class="fw-bold">{{ comment.user.username }}</div>
                                            <div class="text-muted fst mb-2">{{ comment.user.email }}</div>
                                            {{ comment.content }}
                                            {% if app.user and app.user.id == comment.user.id %}
                                                {{ include('comment/_delete_form.html.twig') }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    <p>No comments available.</p>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </section>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    {% for category in allCategories %}
                                        <li><a href="{{ path('app_blog_category', {'category': category.name}) }}">{{ category.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Side Widget</div>
                    <div class="card-body">My github: <a href="https://github.com/AndrodenBY">https://github.com/AndrodenBY</a></div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
