{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3 mb-lg-5">
                <div class="overflow-hidden card table-nowrap table-card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Blog</h5>

                    </div>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Text</th>
                                <th>Comments</th>
                                <th>Author</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="align-middle">
                                    <td>{{ blog.id }}</td>
                                    <td>{{ blog.title }}</td>
                                    <td>{{ blog.description }}</td>
                                    <td>{{ blog.text }}</td>
                                    <td>{{ blog.comments | map(comment => comment.content) | join(', ') }}</td>
                                    <td>{{ blog.user.email }}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <a href="{{ path('app_blog_delete', { id: blog.id }) }}" class="btn btn-danger">Delete</a> <!--Not working-->
                <a href="{{ path('app_blog_index') }}" class="btn btn-link">Homepage</a>
                <a href="{{ path('app_blog_edit', {'id': blog.id}) }}" class="btn btn-link">Edit</a>
            </div>
        </div>
    </div>
{% endblock %}